chess_game/.vs*
chess_game/bin*
chess_game/obj*
chess_game/packages*
chess_game/Properties*
chess_game/TestResults*
TestResults*
chess_game/chess_game.csproj
chess_game/chess_game.sln
chess_game/App.config
chess_game/Form1.resx


UnitTestChessGame/bin*
UnitTestChessGame/obj*
UnitTestChessGame/Properties*
UnitTestChessGame/UnitTestChessGame.csproj
UnitTestChessGame/packages.config

.vs*




